:local(.observed) {
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
	transition: background 1s;
	background-color: tomato;

	&:local(.isInView) {
		background-color: lightgreen;
	}
}

:local(.state) {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
}

:local(.isInView) {
	:local(.indicator) {
		background-color: lightgreen;
	}
}

:local(.indicator) {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50% 50%;
	background-color: tomato;
}
